body {
  margin-bottom: 90px;
}
:root {
  --primary-color: #986B3F;
  --secondary-color: #ec336914;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font: "Bellefair", serif;
  --secondary-font: "Belleza", sans-serif;
  --third-font: "ABeeZee", sans-serif;
}

h1,
h4 {
  font-size: 35px;
  text-align: center;
  font-family: var(--primary-font);
}
h2 {
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-family: var(--secondary-font);
}
h2 a {
  color: black;
}
h2 a:hover {
  color: #986B3F;
}
h3 {
  font-family: var(--third-font);
  font-size: 18px;
}
p {
  font-family: var(--third-font);
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 50px;
}
small {
  font-size: 25px;
  font-family: var(--secondary-font);
}
img {
  display: block;
  margin: 5px auto;
}
.contact-list {
  list-style: none;
  margin-bottom: 60px;
}
.contact-icon {
  font-size: 25px;
  color: var(--primary-color);
  margin: 0 20px;
}
.heading-photo {
  display: block;
  width: 100%;
}
.hero-picture {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0)),
    url(/src/images/heading-photo.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}
.wrap-content {
  margin-top: 50px;
}
.h1-heading {
  padding: 15px;
  font-size: 96px;
  color: white;
}
.primary-button {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  margin-top: 20px;
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-align: center;
  max-width: 200px;
}
.primary-button:hover {
  color: rgb(223, 248, 227);
}
.secondary-button {
  background: white;
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  margin-top: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-align: center;
  max-width: 200px;
}
.secondary-button:hover {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border: 1px solid var(--primary-color);
}
.picture-app {
  max-width: 330px;
  padding: 20px 100px;
  background: var(--secondary-color);
}

.logo-icon {
  max-height: 35px;
  padding: 0;
}
.project-description {
  margin-top: 50px;
}
.language-img img {
  max-width: 100%;
}
.contact-pic {
  max-width: 80%;
}
.about-me-pic {
  max-width: 100%;
  height: auto;
}

@media (max-width: 960px) {
  h2 {
    padding: 0px;
    margin: 10px;
    font-size: 20px;
  }
  h1,
  h4 {
    font-size: 25px;
  }
  span {
    font-size: 10px;
  }
  p {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  ul {
    margin-top: 10px;
    padding-inline-start: 0px;
  }
  small {
    font-size: 16px;
  }
  .wrap-content {
    margin-top: 5px;
  }

  .h1-heading {
    font-size: 70px;
  }
  .project-description {
    margin-top: 0px;
  }
  .secondary-button,
  .primary-button {
    padding: 10px 10px;
    display: block;
    margin: 0 auto;
  }

  .about-me-pic {
    max-width: 60%;
    height: auto;
  }
  .language-img img {
    max-width: 90px;
  }
  .contact-list {
    margin-bottom: 15px;
  }
  .contact-pic {
    max-width: 60%;
  }
}
@media (max-width: 560px) {
  .hero-picture {
    height: 400px;
  }
  .h1-heading {
    font-size: 40px;
  }
}
